/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {
    --primary-color: #564fcc;
}

/* Base Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: #000;
    line-height: 1.6;
    background: url('./images/gaming-pattern.png');
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Landing.js */
/* Header */

.navbar .flex {
    justify-content: space-between;
}

.navbar h1 {
    font-weight: 700;
    color: var(--primary-color);
}

.login {
    font-size: 1.2rem;
    padding: 0 5px;
    border-bottom: 2px solid var(--primary-color);
}

.login:hover {
    transform: scale(0.98);
}

/* Landing-info */
.landing-info {
    margin-top: 70px;
    padding: 20px;
}
.landing-info .flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.landing-info h2 {
    font-size: 2rem;
    font-weight: 700;
}

.landing-info p {
    font-size: 1.4rem;
}
.landing-info input[type='button'] {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 700;
}

/* SignUp */
.signin,
.signup {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.signup .container {
    height: 450px;
    border: 2px solid var(--primary-color);
    background-color: white;
}

.signin .container {
    height: 450px;
    width: 728px;
    border: 2px solid var(--primary-color);
    background-color: white;
}

.first {
    margin-top: 30px;
}

.second {
    margin-bottom: 30px;
}

.signin .align,
.signup .align {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.signin h2,
.signup h2 {
    text-align: center;
}

.signin .container span,
.signup .container span {
    color: var(--primary-color);
    font-weight: 700;
}

.signup .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
}

.signin .grid {
    grid-template-columns: 1fr;
    gap: 0;
}

.signin .form-input input,
.signup .form-input input {
    width: 90%;
    height: 50px;
    border: 1px solid #aba5a5;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 1.1rem;
}

.signin .btn,
.signup .btn {
    justify-self: center;
}

.last {
    grid-column: 1/2;
    grid-row: 3/4;
}

.signin p,
.signup p {
    text-align: center;
    margin-top: 30px;
}

.signin .login,
.signup .login {
    margin-left: 10px;
    font-size: 1rem;
}

/* Utility Classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.btn {
    display: inline-block;
    width: 150px;
    padding: 15px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 47px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 700;
}

.btn:hover {
    transform: scale(0.98);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Media Queries */
@media (max-width: 650px) {
    .landing-info .grid {
        grid-template-columns: 1fr;
    }

    .svg-image {
        grid-row: 1/2;
    }

    .navbar .login {
        font-size: 1rem;
    }

    .navbar h1 {
        font-size: 1.7rem;
    }

    .signup .container {
        height: auto;
    }

    .signup .grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .last {
        grid-row: auto;
    }
}
