/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;800;900&display=swap');

:root {
    --primary-color: rgb(86, 79, 204);
}

/* Base Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: #000;
    line-height: 1.6;
    background: url('./images/gaming-pattern.png');
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.hidden {
    display: none;
}

/* Landing.js */
/* Header */

.navbar .flex {
    justify-content: space-between;
}

.header h1,
.navbar h1 {
    font-weight: 700;
    color: var(--primary-color);
}

.login {
    font-size: 1.2rem;
    padding: 0 5px;
    border-bottom: 2px solid var(--primary-color);
}

.login:hover {
    transform: scale(0.98);
}

/* Landing-info */
.landing-info {
    margin-top: 70px;
    padding: 20px;
}
.landing-info .flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.landing-info h2 {
    font-size: 2rem;
    font-weight: 700;
}

.landing-info p {
    font-size: 1.4rem;
}
.landing-info input[type='button'] {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 700;
}

/* SignUp */
.addgame {
    min-height: calc(100vh - 58.391px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.signin,
.signup {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.addgame .container {
    height: 600px;
    overflow: hidden;
    width: 900px;
    border: 2px solid var(--primary-color);
    background-color: white;
}
.signup .container {
    height: 450px;
    border: 2px solid var(--primary-color);
    background-color: white;
}

.signin .container {
    height: 450px;
    width: 728px;
    border: 2px solid var(--primary-color);
    background-color: white;
}

.first {
    margin-top: 30px;
}

.second {
    margin-bottom: 30px;
}

.addgame .align,
.signin .align,
.signup .align {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addgame h2,
.signin h2,
.signup h2 {
    text-align: center;
}

.addgame h2 {
    margin-top: 20px;
}

.addgame .container span,
.signin .container span,
.signup .container span {
    color: var(--primary-color);
    font-weight: 700;
}

.signup .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
}

.addgame .grid {
    width: 60%;
    grid-template-columns: 1fr;
}

.signin .grid {
    grid-template-columns: 1fr;
    gap: 0;
}

select {
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;

    line-height: 1.5em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5em 3.5em 0.5em 1em;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

.addgame select,
.addgame .form-input input,
.signin .form-input input,
.signup .form-input input {
    width: 90%;
    height: 50px;
    border: 1px solid #aba5a5;
    border-radius: 10px;
    padding-left: 20px;

    font-size: 1.1rem;
}

.addgame select,
.addgame .form-input input {
    width: 100%;
}

.addgame .btn,
.signin .btn,
.signup .btn {
    justify-self: center;
}

.last {
    grid-column: 1/2;
    grid-row: 3/4;
}

.signin p,
.signup p {
    text-align: center;
    margin-top: 30px;
}

.signin .login,
.signup .login {
    margin-left: 10px;
    font-size: 1rem;
}

/* Header */
.header {
    background-color: var(--primary-color);
    color: white;
}

.header h1 {
    color: white;
    margin-right: 10px;
}

.header .flex {
    justify-content: space-between;
}

.header nav {
    width: 300px;
    margin: 10px 10px;
}

.header ul .flex {
    justify-content: space-between;
}

.header .navlink {
    color: white;
}

.header .icon {
    font-size: 2rem;
    cursor: pointer;

    margin: 10px;
}

.mobile-nav {
    display: none;
}

.radio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
}

.radio-grid input {
    cursor: pointer;
}

.radio-grid label {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 5px;
    cursor: pointer;
}

/* Gamecard */
.game-card {
    margin: 25px;
    padding: 15px;
}

.game-card .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;

    border-bottom: 5px solid var(--primary-color);
}

.game-card .game-name {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: 400;
}

.game-card .game-system {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.5rem;
    font-weight: 800;
}

.game-card .game-status {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 1.5rem;
}

.game-card .icon {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 50px;
    justify-self: flex-end;
    font-size: 1.5rem;
}

.game-card .icon:hover {
    cursor: pointer;
}

/* Profile */

.profile {
    margin-top: 60px;
    padding: 10px;
}

.profile .container .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.profile .stats {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--primary-color);
    padding: 40px;
    background-color: white;
}

.profile .stats h2 {
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
    margin: 0;
}

.profile .stat {
    display: flex;
    justify-content: space-between;
    margin: 70px 20px 0 20px;
    border-bottom: 2px solid var(--primary-color);
    padding: 0 15px;
}

.profile .stat h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.profile .stat h5 {
    font-size: 1.5rem;
    font-weight: 700;
    align-self: center;
    margin-left: 15px;
}

.profile .main {
    align-self: stretch;
    grid-template-columns: 1/2;
    grid-row: 1/3;
}

.profile .systems,
.profile .games {
    align-self: stretch;
    justify-self: stretch;
    padding: 40px 15px 15px 15px;
}

.list {
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
}

.load-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
}
/* Utility Classes */
.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.btn {
    display: inline-block;
    width: 150px;
    padding: 15px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 47px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 700;
}

.btn:hover {
    transform: scale(0.98);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.display {
    display: block;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(86, 79, 204, 0.9);
}

/* Media Queries */
@media (max-width: 1536px) {
    .container {
        max-width: 1200px;
    }
}
@media (max-width: 650px) {
    .landing-info .grid {
        grid-template-columns: 1fr;
    }

    .svg-image {
        grid-row: 1/2;
    }

    .navbar .login {
        font-size: 1rem;
    }

    .header h1,
    .navbar h1 {
        font-size: 1.7rem;
    }

    .signup .container {
        height: auto;
    }

    .signup .grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .last {
        grid-row: auto;
    }

    .header .signout,
    .header nav {
        display: none;
    }

    .hidden {
        display: block;
    }

    .mobile-nav {
        background-color: var(--primary-color);
        margin: 10px;
        padding: 10px;
    }

    .mobile-nav ul {
        flex-direction: column;
    }

    .mobile-nav li {
        padding: 10px;
    }
    .mobile-nav .navlink {
        color: white;
    }

    .mobile-nav p {
        margin: 0;
        cursor: pointer;
    }

    .profile .grid {
        grid-template-columns: 1fr;
    }

    .container {
        padding: 20px;
    }
    .radio-grid {
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }
}
